<%= render HeroComponent.new(
     title: "AureliusPress::Admin::Catalogue::Authors#edit",
     subtitle: "Find me in app/views/aurelius_press/admin/catalogue/authors/edit.html.erb",
     small: true,
   ) %>
<div class="container" template="AureliusPress::Admin::Catalogue::Authors#edit">

  <%= render "form", author: @author %>

</div>
