<%= render HeroComponent.new(title: "Tag: \#{@tag.name}", subtitle: "Content tagged with \#{@tag.name}", small: true) %>
<div class="container">
  <h1>Tag: <%= @tag.name %></h1>
  <p>Display your public content here.</p>
</div>
