<%= render HeroComponent.new(
     title: "AureliusPress::Catalogue::Author#index",
     subtitle: "Find me in app/views/aurelius_press/catalogue/quotes/index.html.erb",
     small: true,
   ) %>

<div class="container" template="AureliusPress::Catalogue::Author#index">

  <h1>Authors</h1>

  <ul>
    <% @authors.each do |author| %>
      <li>
        <%= link_to author.name, aurelius_press_catalogue_author_path(author) %>
      </li>
    <% end %>
  </ul>
</div>
