<h1>AureliusPress::Admin::Users#index</h1>
<div>
  <h2>Users</h2>
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td>
            <%= link_to 'Edit', edit_aurelius_press_admin_user_path(user) %> |
            <%= button_to "Delete", aurelius_press_admin_user_path(user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New User', new_aurelius_press_admin_user_path %>
</div>
