<div class="hero-banner small flex justify-center items-center">
  <hgroup class="container">
    <h1>AureliusPress::Admin::Users<b><i>#new</i></b></h1>
    <p>Create a new user for the AureliusPress application.</p>
  </hgroup>
</div>

<div class="container">

  <%= render "form", user: @user %>

</div>
