@use "@picocss/pico/scss/pico" as *;

nav {
  &.top-bar-navigation {
    ul {
      li {
        a {
          font-weight: 400;
          &:focus {
            text-decoration: none;
          }
        }
        hr {
          width: 100%;
          height: 1px;
          padding: 0;
          border: none;
          border-top: 1px solid var(--ap-accordion-open-summary-color);
          margin: 0.125rem 0;
        }
      }
    }
  }
}
