<%= render HeroComponent.new(
      title: "AureliusPress::Admin::Catalogue::Sources#new",
      subtitle: "Find me in app/views/aurelius_press/admin/catalogue/sources/new.html.erb",
      small: true,
    ) %>

<div class="container" template="AureliusPress::Admin::Catalogue::Sources#new">

  <%= render "form", source: @source %>

</div>
