<div class="hero-banner small flex justify-center items-center">
  <hgroup class="container">
    <h1>AureliusPress::Admin::Document::AtomicBlogPosts#edit</h1>
    <p>Edit an existing atomic blog post in the AureliusPress application.</p>
  </hgroup>
</div>

<div class="container">

  <h2>Edit Atomic Blog Post</h2>

  <%= render "form", atomic_blog_post: @atomic_blog_post, categories: @categories, tags: @tags %>
</div>
