<%= render HeroComponent.new(
     title: "AureliusPress::Admin::Taxonomy::Categories#edit",
     subtitle: "Find me in app/views/aurelius_press/admin/taxonomy/categories/edit.html.erb",
     small: true
   ) %>

<div class="container" template="AureliusPress::Admin::Taxonomy::Categories#edit">
  <%= render "form", category: @category %>
</div>
