<%= render HeroComponent.new(
  title: "AureliusPress::Admin::Taxonomy::Categories#new",
  subtitle: "Find me in app/views/aurelius_press/admin/taxonomy/categories/new.html.erb",
  small: true
) %>

<div class="container" template="AureliusPress::Admin::Taxonomy::Categories#new">
  <%= render "form", category: @category %>
</div>
