<h1>AureliusPress::Document::Pages#edit</h1>
<h2>Edit Page</h2>
<%= render "aurelius_press/admin/document/pages/form",
           page: @page,
           categories: @categories,
           tags: @tags %>
