<h1>AureliusPress::Document::Pages#new</h1>
<h2>Create New Page</h2>
<%= render "aurelius_press/admin/document/pages/form",
           page: @page,
           categories: @categories,
           tags: @tags %>
