<div class="content">

  <div class="hero-banner flex items-center">
    <hgroup class="container">
      <h1><%= @title %></h1>
      <p><%= @subtitle %></p>
    </hgroup>
  </div>

  <div data-controller="hello" class="container">
    Placeholder for Stimulus controller content.
  </div>

  <div class="container">

    <%= link_to "User Management", aurelius_press_admin_users_path %>

    <% @description.each do |paragraph| %>
      <p><%= paragraph %></p>
    <% end %>

  </div>
</div>
