<div class="content">

  <div class="hero-banner flex items-center">
    <hgroup class="container">
      <h1><%= @title %></h1>
      <p><%= @subtitle %></p>
    </hgroup>
  </div>

  <div class="container">

    <% @description.each do |paragraph| %>
      <p><%= paragraph %></p>
    <% end %>

  </div>
</div>
