<div class="container">
  <h1>Edit Atomic Post</h1>
  <%= render "aurelius_press/admin/document/atomic_blog_posts/form",
             atomic_blog_post: @atomic_blog_post,
             categories: @categories,
             tags: @tags %>
</div>
