<h1>AureliusPress::Document::AtomicBlogPosts#new</h1>
<h2>Create New Atomic Blog Post</h2>
<%= render "aurelius_press/admin/document/atomic_blog_posts/form",
           atomic_blog_post: @atomic_blog_post,
           categories: @categories,
           tags: @tags %>
