<%= render HeroComponent.new(
     title: "AureliusPress::Admin::Catalogue::Quotes#edit",
     subtitle: "Find me in app/views/aurelius_press/admin/catalogue/quotes/edit.html.erb",
     small: true,
   ) %>
<div class="container" template="AureliusPress::Admin::Catalogue::Quotes#edit">

  <%= render "form", quote: @quote %>

</div>
