<div class="container">
  <h1>AureliusPress::Admin::Document::BlogPosts#edit</h1>

  <h2>Edit Blog Post</h2>

  <h2>Edit Blog Post</h2>

  <%= render "form", blog_post: @blog_post, categories: @categories, tags: @tags %>

</div>>
