<div class="hero-banner small flex justify-center items-center">
  <hgroup class="container">
    <h1>AureliusPress::Admin::Document::BlogPosts#edit</h1>
    <p>Edit an existing blog post in the AureliusPress application.</p>
  </hgroup>
</div>

<div class="container">

  <h2>Edit Blog Post</h2>

  <%= render "form", blog_post: @blog_post, categories: @categories, tags: @tags %>

</div>>
