<div class="hero-banner small flex justify-center items-center">
  <hgroup class="container">
    <h1>AureliusPress::Admin::Document::BlogPosts#new</h1>
    <p>Create a new blog post in the AureliusPress application.</p>
  </hgroup>
</div>

<div class="container">

  <h2>Create New Blog Post</h2>

  <%= render "form", blog_post: @blog_post, categories: @categories, tags: @tags %>
  
</div>
