<% if video_embed_block.youtube_video_id.present? %>
  <div id="video-embed-<%= video_embed_block.id %>" class="video-embed-container">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/<%= video_embed_block.youtube_video_id %>?rel=0"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <% if video_embed_block.description.present? %>
      <figcaption><%= video_embed_block.description %></figcaption>
    <% end %>
  </div>
  <% else %>
    <% raise "No video ID available for this block." %>
  <% end %>
