@use "variables" as *;
@use "sass:color";

.button,
[role="button"] {
  cursor: pointer;
  color: white !important;
  text-decoration: none;
  margin-bottom: 1rem;
  &:hover {
    text-decoration: none;
  }
}

.button-primary {
  background-color: $primary-color;
  color: white;
  &:hover {
    background-color: color.adjust($primary-color, $lightness: -5%);
  }
}

.button-inverse {
  background-color: $inverse-color;
  color: white;
  &:hover {
    background-color: color.adjust($inverse-color, $lightness: -5%);
  }
}

.button-secondary {
  background-color: $secondary-color;
  color: white;
  &:hover {
    background-color: color.adjust($secondary-color, $lightness: -5%);
  }
}

.button-success {
  background-color: $success-color;
  color: white;
  &:hover {
    background-color: color.adjust($success-color, $lightness: -5%);
  }
}

.button-danger {
  background-color: $danger-color;
  color: white;
  &:hover {
    background-color: color.adjust($danger-color, $lightness: -5%);
  }
}

.button-warning {
  background-color: $warning-color;
  color: white;
  &:hover {
    background-color: color.adjust($warning-color, $lightness: -5%);
  }
}

.button-info {
  background-color: $info-color;
  color: white;
  &:hover {
    background-color: color.adjust($info-color, $lightness: -5%);
  }
}
