$primary-color: #007bff;
$inverse-color: #ff8000;
$light-primary-color: #53affb;
$dark-primary-color: #0056b3;

$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;

$light-color: #f8f9fa;
$dark-color: #343a40;

$font-color: #212529;
$font-color-inverse: #ffffff;
$font-color-secondary: #6c757d;
$heading-color: #343a40;

$font-family: "Comfortaa", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 13pt;
$line-height-base: 1;

$border-radius-base: 0.75rem;
$border-color-base: $dark-color;
$border-width-base: 1px;
$border-style-base: solid;

$text-shadow-base: 0 0.25rem 0.5rem rgba(251, 248, 248, 0.3);
$box-shadow-base: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
$box-shadow-hover-base: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.35);
$box-shadow-inset-base: inset 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);

$transition-base: all 0.2s ease-in-out;

$spacing-base: 1rem;
$spacing-half: $spacing-base * 0.5;
$spacing-quarter: $spacing-base * 0.25;
$spacing-three-quarters: $spacing-base * 0.75;

$spacing-one-and-a-half: $spacing-base * 1.5;
$spacing-one-and-a-quarter: $spacing-base * 1.25;
$spacing-one-and-three-quarters: $spacing-base * 1.75;
$spacing-double: $spacing-base * 2;

$tile-card-width: 17rem;
$tile-card-height: $tile-card-width * 0.667; // 2/3 aspect ratio
