<%= render HeroComponent.new(title: "Category: \#{@category.name}", subtitle: "Content filed under \#{@category.name}", small: true) %>
<div class="container">
  <h1>Category: <%= @category.name %></h1>
  <p>Display your public content here.</p>
</div>
