/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@use "sass:map";
@use "sass:meta";
@use "actiontext.css" as *;

@use "@picocss/pico/scss/pico" as * with (
  // Custom pico configuration
  $modules: ("themes/default": false),
  $css-var-prefix: "--ap-",
  $enable-semantic-container: true,
  $enable-responsive-spacings: true,
  $theme-color: "tyrian-purple"
);
// Load the custom theme styles
@use "themes/tyrian-purple";

// @todo: remove the custom scss for new custom pico-scss
@use "partials/variables" as *;
// @use "partials/mixins" as *;
@use "partials/buttons" as *;
@use "partials/typography" as *;
@use "partials/utilities" as *;
@use "partials/pico-page-form" as *;
// @use "view_components/card" as *;
@use "view_components/navigation" as *;
@use "view_components/hero-banner" as *;

:root {
  // #{$css-var-prefix}font-family-emoji
  // #{$css-var-prefix}font-family-sans-serif
  // #{$css-var-prefix}font-family-monospace
  // #{$css-var-prefix}text-underline-offset

  --primary-color: var(#{$css-var-prefix}primary);
  --secondary-color: var(#{$css-var-prefix}secondary);

  border-color: var(#{$css-var-prefix}border-color);
  border-width: var(#{$css-var-prefix}border-width);
  border-radius: var(#{$css-var-prefix}border-radius);

  color: var(#{$css-var-prefix}text-color);
  font-family: var(#{$css-var-prefix}font-family);
  font-size: var(#{$css-var-prefix}font-size);
  line-height: var(#{$css-var-prefix}line-height);

  background-color: var(#{$css-var-prefix}background-color);

  box-sizing: border-box;
}


.trix-content {
  color: white;
  p {
    margin-bottom: 1rem;
  }
}

.form-actions {
  margin-top: $spacing-base;
}

// @Todo: move to _content-block.scss or similar
.content-block {
  &::before {
    content: "Content Block";
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: var(--primary-color);
    padding: 1rem;
  }
  border: 3px solid white;
  border-radius: var(--border-radius-base);
  padding: 1rem;
  background-color: var(--background-color);
  color: white;
}

.content-block-fields {
  margin-top: $spacing-base * 3;
  border-top: solid 1px white;
  padding-top: $spacing-base * 2;
}

.image-block-fields {
  .file {
    margin: 0;
  }
}

.page-links {
  margin: 1rem 0;
  a {
    padding: 0;
    margin-left: 0;
    margin-right: $spacing-half;
  }
}

body,
.content {
  margin: 0;
  padding: 0;
  border: none;
}
