<div class="hero-banner small flex justify-center items-center">
  <hgroup class="container">
    <h1>AureliusPress::Admin::Document::Pages#new</h1>
    <p>Create a new page in the AureliusPress application.</p>
  </hgroup>
</div>

<div class="container">

  <h2>Create New Page</h2>

  <%= render "form", page: @page, categories: @categories %>

</div>
