<%= render HeroComponent.new(
     title: "AureliusPress::Admin::Taxonomy::Tags#edit",
     subtitle: "Find me in app/views/aurelius_press/admin/taxonomy/tags/edit.html.erb",
     small: true,
   ) %>

<div class="container" template="AureliusPress::Admin::Taxonomy::Tags#edit">
  <%= render "form", tag: @tag %>
</div>
