<%= render HeroComponent.new(
     title: "AureliusPress::Admin::Taxonomy::Tags#new",
     subtitle: "Find me in app/views/aurelius_press/admin/taxonomy/tags/new.html.erb",
     small: true,
   ) %>

<div class="container" template="AureliusPress::Admin::Taxonomy::Tags#new">
  <%= render 'form', tag: @tag %>
</div>
