<button type="button" data-action="nested-forms#add" data-nested-forms-name="AureliusPress::ContentBlock::RichTextBlock" data-nested-forms-target-name="contentBlock">
  + Text
</button>

<button type="button" data-action="nested-forms#add" data-nested-forms-name="AureliusPress::ContentBlock::ImageBlock" data-nested-forms-target-name="contentBlock">
  + Image
</button>

<button type="button" data-action="nested-forms#add" data-nested-forms-name="AureliusPress::ContentBlock::GalleryBlock" data-nested-forms-target-name="contentBlock">
  + Gallery
</button>

<button type="button" data-action="nested-forms#add" data-nested-forms-name="AureliusPress::ContentBlock::VideoEmbedBlock" data-nested-forms-target-name="contentBlock">
  + Video
</button>
